<!doctype html>

<html lang="en-US">
  <head>
    <title>Polyon - HTML Template</title>
    
    <!-- Meta-Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="Put your description in here" />
    
    <!-- Main CSS -->
    <link href="stylesheets/style.css" media="screen, projection" rel="stylesheet" />
    
    <!-- CSS Browser Selector -->
    <script src="javascripts/css_browser_selector.js"></script>
    
    <!-- jQuery & Custom Functions -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/script.js"></script>
    
    <!-- Superfish -->
    <script src="javascripts/jquery.superfish.js"></script>
    
    <!-- Contact Form -->
    <script src="javascripts/jquery.validate.pack.js"></script>
    <script src="javascripts/jquery.form.js"></script>
    
    <!-- prettyPhoto -->
    <link href="plugins/prettyphoto/css/prettyPhoto.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    
    <!-- Piecemaker Slider -->
    <script src="plugins/piecemaker/scripts/swfobject/swfobject.js"></script>
    
    <!-- Nivo Slider -->
    <link href="plugins/nivo-slider/nivo-slider.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="plugins/nivo-slider/jquery.nivo.slider.pack.js"></script>
    
    <!-- Slides Slider -->
    <script src="plugins/slides/slides.min.jquery.js"></script>
    
    <!--[if lte IE 8]>
      <script src="javascripts/ie.html5.js"></script>
    <![endif]-->

  </head>
  
  <body class="button-nav">
    <div id="body-container">
    
    
    
    
      <header class="main">
        <div class="wrapper">
          <h1 id="logo">
            <a href="index.html">Polyon</a>
          </h1>
          
          <nav class="main">
            <ul>
              <li><a href="index.html">Home</a>
                <ul>
                  <li><a href="index_piecemaker.html">Piecemaker Slider</a></li>
                  <li><a href="index.html">Nivo Slider</a></li>
                  <li><a href="index_slides.html">Anything Slider</a></li>
                  <li><a href="index_image_left.html">Image Left</a></li>
                  <li><a href="index_image_right.html">Image Right</a></li>
                  <li><a href="index_video_left.html">Video Left</a></li>
                  <li><a href="index_video_right.html">Video Right</a></li>
                </ul>
              </li>
              <li><a href="styles.html">Styles</a>
                <ul>
                  <li><a href="styles.html">Template Styles</a></li>
                  <li><a href="styles2.html">More Template Styles</a></li>
                  <li><a href="page.html">Page Template</a></li>
                  <li><a href="#">More Styling Examples</a>
                    <ul>
                      <li><a href="pricing.html">Pricing Tables</a></li>
                      <li><a href="gallery.html">Picture Gallery</a></li>
                      <li><a href="post.html">Post with Comments</a></li>
                      <li><a href="columns.html">Columns</a></li>
                      <li><a href="archive.html">Archive</a></li>
                      <li><a href="forms.html">Forms</a></li>
                    </ul>
                  </li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="fullwidth.html">Full Width Page</a></li>
                  <li><a href="blog_fullwidth.html">Blog (Full Width)</a></li>
                  <li><a href="columns_fullwidth.html">Columns (Full Width)</a></li>
                </ul>
              </li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="portfolio_3c.html">Portfolio</a>
                <ul>
                  <li><a href="portfolio_1c.html">1 Column</a></li>
                  <li><a href="portfolio_2c.html">2 Columns</a></li>
                  <li><a href="portfolio_3c.html">3 Columns</a>
                    <ul>
                      <li><a href="portfolio_1c.html">1 Column</a></li>
                      <li><a href="portfolio_2c.html">2 Columns</a></li>
                      <li><a href="portfolio_3c.html">3 Columns</a></li>
                      <li><a href="portfolio_4c.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li><a href="portfolio_4c.html">4 Columns</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          
        </div>
        <!-- END .wrapper -->
      </header>
      
      
      
      
      <section id="topbar">
        <div class="deco-top-border"></div>
        <div class="deco-shine"></div>
        <div class="deco-top">
          <div class="deco-bottom">
            <div id="punchline" class="wrapper with-overflow">
              Put a cool and catchy slogan in here to make your newly purchased Template more interesting!
            </div>
          </div>
        </div>
        <div class="deco-bottom-border"></div>
      </section>
      
      
      
      
      <div id="main">
      
        <div class="wrapper with-overflow">
          
          
          
          
          <div id="content" class="two-third">
            
            
            
            
            <article class="entry with-featured-content">
              <header class="entry-header">
                <h2>
                  <a href="post.html">
                    This is a short Heading
                  </a>
                </h2>
                <div class="entry-featured-content">
                  <a href="images/dummy/dummy2.jpg" class="lightbox[featured] fancy framed with-shadow">
                    <img src="images/dummy/dummy2.jpg" width="617" height="289" alt="" />
                  </a>
                </div>
                <div class="entry-meta">
                  <span class="date">
                    <span class="content">
                      <a href="archive.html" class="passive" title="4:33 am" rel="bookmark">
                        <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011</time>
                      </a>
                    </span>
                  </span>
                  <span class="categories">
                    <span class="content">
                      <a href="archive.html" class="passive">Inspiration</a>,
                      <a href="archive.html" class="passive">Web Design</a>
                    </span>
                  </span>
                  <span class="comments">
                    <span class="content">
                      <a href="post.html#comments" class="passive">24 Comments</a>
                    </span>
                  </span>
                </div>
                <!-- END .entry-meta -->
                <span class="smaller hr"></span>
              </header>
              
              <div class="entry-content">
                
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
                  Sed egestas, ante et <a href="#">vulputate</a> volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. 
                </p>
                
                <h3>Vulputate Consectetuer</h3>
                
                <div class="alignright small content-frame last">
                  <ul class="checklist top bottom">
                    <li>Lorem ipsum dolor</li>
                    <li>Aenean commodo</li>
                    <li>Adipiscing elit</li>
                    <li>Morbi interdum mollis</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Aenean commodo</li>
                  </ul>
                </div>
                
                <p>
                  Dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
                  Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                </p>
                
                <blockquote class="alignright">
                  <p>
                    Sed egestas ante et vulputate volutpat eros pede semper est vitae luctus metus libero eu augue.
                  </p>
                  <p class="source">
                    &mdash; Ruven Pelka
                  </p>
                </blockquote>
                
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.
                </p>
                
              </div>
              <!-- END .entry-content -->
            </article>
            
            
            
            
            <section id="comments">
            
              <h4>4 Comments to &#8220;This is a short Heading&#8221;</h4>
            	<ol class="comment-list">
                
                
                
                <li class="comment">
                  <article>
                    <div class="gravatar one-sixth">
                      <img src='images/dummy/gravatar.jpg' alt='' height='122' width='122' />
                      <a rel='nofollow' class='passive comment-reply-link' href='#'>Reply</a>
                    </div>
                    <!-- END .gravatar -->
                    <div class="main five-sixth last">
                      <header>
                        <cite class="author-name">
                          <a href="#" class="passive">Ruven</a>
                        </cite>
                        <a href="#" class="meta-data quiet passive">
                          <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011 at 4:33 am</time>
                        </a>
                      </header>
                      <div class="content">
                        Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. 
                      </div>
                      <!-- END .content -->
                    </div>
                    <!-- END .main -->
                  </article>
                </li>
                
                
                
                <li class="comment">
                  <article>
                    <div class="gravatar one-sixth">
                      <img src='images/dummy/gravatar2.jpg' alt='' height='122' width='122' />
                      <a rel='nofollow' class='passive comment-reply-link' href='#'>Reply</a>
                    </div>
                    <!-- END .gravatar -->
                    <div class="main five-sixth last">
                      <header>
                        <cite class="author-name">Doris</cite>
                        <a href="#" class="meta-data quiet passive">
                          <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011 at 4:33 am</time>
                        </a>
                      </header>
                      <div class="content">
                        Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
                      </div>
                      <!-- END .content -->
                    </div>
                    <!-- END .main -->
                  </article>
                </li>
                
                
                
                <li class="comment bypostauthor">
                  <article>
                    <div class="gravatar one-sixth">
                      <img src='images/dummy/gravatar3.png' alt='' height='122' width='122' />
                      <a rel='nofollow' class='passive comment-reply-link' href='#'>Reply</a>
                    </div>
                    <!-- END .gravatar -->
                    <div class="main five-sixth last">
                      <header>
                        <cite class="author-name">
                          <a href="#" class="passive">Admin</a>
                        </cite>
                        <a href="#" class="meta-data quiet passive">
                          <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011 at 4:33 am</time>
                        </a>
                      </header>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
                      </div>
                      <!-- END .content -->
                    </div>
                    <!-- END .main -->
                  </article>
                </li>
                
                
                
                <li class="comment">
                  <article>
                    <div class="gravatar one-sixth">
                      <img src='images/dummy/gravatar.jpg' alt='' height='122' width='122' />
                      <a rel='nofollow' class='passive comment-reply-link' href='#'>Reply</a>
                    </div>
                    <!-- END .gravatar -->
                    <div class="main five-sixth last">
                      <header>
                        <cite class="author-name">
                          <a href="#" class="passive">Ruven</a>
                        </cite>
                        <a href="#" class="meta-data quiet passive">
                          <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011 at 4:33 am</time>
                        </a>
                      </header>
                      <div class="content">
                        Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu.
                      </div>
                      <!-- END .content -->
                    </div>
                    <!-- END .main -->
                  </article>
                  
                  <ul>
                
                
                
                    <li class="comment">
                      <article>
                        <div class="gravatar one-sixth">
                          <img src='images/dummy/gravatar2.jpg' alt='' height='122' width='122' />
                          <a rel='nofollow' class='passive comment-reply-link' href='#'>Reply</a>
                        </div>
                        <!-- END .gravatar -->
                        <div class="main five-sixth last">
                          <header>
                            <cite class="author-name">Doris</cite>
                            <a href="#" class="meta-data quiet passive">
                              <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011 at 4:33 am</time>
                            </a>
                          </header>
                          <div class="content">
                            Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. 
                          </div>
                          <!-- END .content -->
                        </div>
                        <!-- END .main -->
                      </article>
                    </li>
                  
                  
                  
                  </ul>
                  
                </li>
                
                
                
            	</ol>
      	
      	    
            
    					<div id="respond">
                <h3 id="reply-title">Leave a Reply</h3>
                <form action="#" class="three-column-form" method="post" id="comment-form">
                  
                  <p class="one-third comment-form-author">
                    <label for="author">Name<span class="required">*</span></label>
                    <input type="text" id="author" name="author" value="" size="30" aria-required='true' />
                  </p>
                  
                  <p class="one-third comment-form-email">
                    <label for="email">E-Mail<span class="required">* </span>(will not be published)</label>
                    <input type="text" id="email" name="email" value="" size="30" aria-required='true' />
                  </p>
                  
                  <p class="one-third last comment-form-url">
                    <label for="url">Website</label>
                    <input type="text" id="url" name="url" value="" size="30" />
                  </p>
                  
                  <span class="spacer"></span>
                	
                	<span class="comment-form-comment">
                	  <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                	</span>
                	
                	<p class="form-allowed-tags quiet">
                	  You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:<br/>
                	  <code>
                	    &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt;
                	  </code>
                	</p>
                	
                	<p class="form-submit">
              			<input name="submit" type="submit" id="submit" value="Submit Reply" />
                  </p>
                  
                </form>
    			    </div>
    			    <!-- END #respond -->
  						  
            </section>
            <!-- END #comments -->
            
            
            
            
            
          </div>
          <!-- END #content -->
          
          
          
          
          <div id="sidebar" class="one-third last">
            <div class="deco-top"></div>
            <div class="deco-center">
              <div class="content">
                
                
                
                
                <aside class="widget search-widget">
                  <h3 class="widget-title">Search</h3>
                  <div class="widget-content">
                    <div id="searchform">
                      <form method="get" action="#">
                    		<input type="text" placeholder="Search term" />
                    		<input type="submit" value="Search" />
                      </form>
                    </div>
                  </div>
                </aside>
                
                
                
                
                <aside class="widget text-widget">
                  <h3 class="widget-title">Text Widget</h3>
                  <div class="widget-content">
                    <p>
                      <strong>A Premium WordPress Theme</strong>
                      <br/>
                      Lorem ipsum dolor sit amet urna, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec. Sed pretium, ligula sollicitudin laoreet.
                    </p>
                    <span class="hr small"></span>
                    <p>
                      <strong>Amazing Style Variations</strong>
                      <br/>
                      In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, libero sodales leo, eget blandit nunc tortor eu nibh.
                    </p>
                  </div>
                </aside>
                
                
                
                
                <aside class="widget posts-widget">
                  <h3 class="widget-title">Latest Posts</h3>
                  <div class="widget-content">
              			<ul>
              				<li>
              				  <div class="post-image">
                					<a href="#" class="small framed">
                  					<img src="images/dummy/dummy1_widget_lp.jpg" width="60" height="60" alt=""/>
                					</a>
                				</div>
                				<div class="post-content">
                					<a class="post-title" href="post.html">Lorem Ipsum Dolor</a>
                          <a class="post-date" href="archive.html">
                            <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011</time>
                          </a>
                        </div>
              				</li>
              			
              				<li>
              				  <div class="post-image">
                					<a href="#" class="small framed">
                  					<img src="images/dummy/dummy4_widget_lp.jpg" width="60" height="60" alt=""/>
                					</a>
                				</div>
                				<div class="post-content">
                					<a class="post-title" href="post.html">Vestibulum Mollis Ipsum Aliquet Nibh</a>
                          <a class="post-date" href="archive.html">
                            <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011</time>
                          </a>
                        </div>
              				</li>
              				
              				<li>
              				  <div class="post-image">
                					<a href="#" class="small framed">
                					  <img src="images/dummy/dummy3_widget_lp.jpg" width="60" height="60" alt=""/>
                					</a>
                				</div>
                				<div class="post-content">
                					<a class="post-title" href="post.html">Sed Egestas Ante Mollis</a>
                          <a class="post-date" href="archive.html">
                            <time datetime="2011-04-14T04:33Z" pubdate>April 14, 2011</time>
                          </a>
                        </div>
              				</li>
              				
              			</ul>
                  </div>
                </aside>
                
                
                
              
                <aside class="widget list-widget">
                  <h3 class="widget-title">List Widget</h3>
                  <div class="widget-content">
                    <ul>
                      <li><a href="post.html">Aliquam Tincidunt Mauris</a></li>
                      <li><a href="post.html">Nunc Dignissim Risus Id Metus</a></li>
                      <li><a href="post.html">Vivamus Vestibulum Nulla</a></li>
                      <li><a href="post.html">Fusce Pellensque Suscipit Nibh</a></li>
                      <li><a href="post.html">Cras Iaculis Ultricies Nulla</a></li>
                    </ul>
                  </div>
                </aside>
                
                
                
              
                <aside class="widget list-widget">
                  <h3 class="widget-title">Another List Widget</h3>
                  <div class="widget-content">
                    <ul>
                      <li><a href="post.html">Vivamus Vestibulum Nulla</a></li>
                      <li><a href="post.html">Cras Iaculis Ultricies Nulla</a></li>
                      <li><a href="post.html">Nunc Dignissim Risus Id Metus</a></li>
                      <li><a href="post.html">Fusce Pellensque Suscipit Nibh</a></li>
                      <li><a href="post.html">Aliquam Tincidunt Mauris</a></li>
                    </ul>
                  </div>
                </aside>
                
                
                
                
                <aside class="widget double-list-widget">
                  <h3 class="widget-title">Archive</h3>
                  <div class="widget-content">
                    <ul>
                      <li><a href="archive.html">January 2011</a></li>
                      <li><a href="archive.html">February 2011</a></li>
                      <li><a href="archive.html">March 2011</a></li>
                      <li><a href="archive.html">April 2011</a></li>
                      <li><a href="archive.html">May 2011</a></li>
                      <li><a href="archive.html">June 2011</a></li>
                      <li><a href="archive.html">July 2011</a></li>
                      <li><a href="archive.html">August 2011</a></li>
                      <li><a href="archive.html">September 2011</a></li>
                      <li><a href="archive.html">October 2011</a></li>
                      <li><a href="archive.html">November 2011</a></li>
                      <li><a href="archive.html">December 2011</a></li>
                    </ul>
                  </div>
                </aside>
                
                
                
                
              </div>
              <!-- END .content -->
            </div>
            <!-- END .deco-center -->
            <div class="deco-bottom"></div>
          </div>
          <!-- END #sidebar -->
        
        

          
        </div>
        <!-- END .wrapper.with-overflow -->
        
      </div>
      <!-- END #main -->
      
      
      
      
      <footer class="main">
        <div class="wrapper with-overflow">
          
          
          
          
          <aside class="widget contact-widget one-fourth">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-content">
              <p class="vcard">
                <span class="fn">Polyon Inc.</span>
                <br/>
                <span class="adr">
                  <span class="street-address">408 Infinite Loop</span>
                  <br/>
                  <span class="locality">Cupertino</span>,
                  <span class="region">CA</span> 
                  <span class="postal-code">85024</span>
                  <br/>
                </span>
                <span class="small spacer"></span>
                Tel: <span class="phone">(408) 996-1010</span><br/>
                Fax: <span class="fax">(408) 996-1020</span>
                <br/>
                eMail: <span class="email"><a href="mailto:hello@example.com">hello@example.com</a></span>
              </p>
            </div>
          </aside>
          
          
          
          
          <aside class="widget list-widget one-fourth">
            <h3 class="widget-title">Recent Posts</h3>
            <div class="widget-content">
              <ul>
                <li><a href="post.html">Aliquam Tincidunt Mauris</a></li>
                <li><a href="post.html">Nunc Dignissim Risus Id Metus</a></li>
                <li><a href="post.html">Vivamus Vestibulum Nulla</a></li>
                <li><a href="post.html">Fusce Pellensque Suscipit Nibh</a></li>
                <li><a href="post.html">Cras Iaculis Ultricies Nulla</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <aside class="widget list-widget one-fourth">
            <h3 class="widget-title">Latest Work</h3>
            <div class="widget-content">
              <ul>
                <li><a href="page.html">Cras Iaculis Ultricies Nulla</a></li>
                <li><a href="page.html">Vivamus Vestibulum Nulla</a></li>
                <li><a href="page.html">Nunc Dignissim Risus Id Metus</a></li>
                <li><a href="page.html">Aliquam Tincidunt Mauris</a></li>
                <li><a href="page.html">Fusce Pellentesque Suscipit</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <aside class="widget social-widget one-fourth last">
            <h3 class="widget-title">Social Widget</h3>
            <div class="widget-content">
              <ul>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="linkedin"><a href="#">LinkedIn</a></li>
                <li class="vimeo"><a href="#">Vimeo</a></li>
                <li class="youtube"><a href="#">YouTube</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <div class="divider"></div>
          
        </div>
        <!-- END .wrapper -->
      </footer>
        
        
        
        
      <section id="footerbar">
        <div class="wrapper with-overflow">
          
          
          
          
          <div class="primary">
            This is an HTML-Template by Ruven Pelka. You can purchase it at <a href="http://themeforest.net/">themeforest.net</a>.
          </div>
          
          
          
          
          <div class="secondary">
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="page.html">About</a></li>
                <li><a href="portfolio_3c.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          
          
          
          
        </div>
      </section>
    
    
    
    
    </div>
    <!-- END #body-container -->
    
    
    
    
  </body>
  
</html>