<!doctype html>

<html lang="en-US">
  <head>
    <title>Polyon - HTML Template</title>
    
    <!-- Meta-Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="Put your description in here" />
    
    <!-- Main CSS -->
    <link href="stylesheets/style.css" media="screen, projection" rel="stylesheet" />
    
    <!-- CSS Browser Selector -->
    <script src="javascripts/css_browser_selector.js"></script>
    
    <!-- jQuery & Custom Functions -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/script.js"></script>
    
    <!-- Superfish -->
    <script src="javascripts/jquery.superfish.js"></script>
    
    <!-- Contact Form -->
    <script src="javascripts/jquery.validate.pack.js"></script>
    <script src="javascripts/jquery.form.js"></script>
    
    <!-- prettyPhoto -->
    <link href="plugins/prettyphoto/css/prettyPhoto.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    
    <!-- Piecemaker Slider -->
    <script src="plugins/piecemaker/scripts/swfobject/swfobject.js"></script>
    
    <!-- Nivo Slider -->
    <link href="plugins/nivo-slider/nivo-slider.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="plugins/nivo-slider/jquery.nivo.slider.pack.js"></script>
    
    <!-- Slides Slider -->
    <script src="plugins/slides/slides.min.jquery.js"></script>
    
    <!--[if lte IE 8]>
      <script src="javascripts/ie.html5.js"></script>
    <![endif]-->

  </head>
  
  <body class="button-nav fullwidth">
    <div id="body-container">
    
    
    
    
      <header class="main">
        <div class="wrapper">
          <h1 id="logo">
            <a href="index.html">Polyon</a>
          </h1>
          
          <nav class="main">
            <ul>
              <li><a href="index.html">Home</a>
                <ul>
                  <li><a href="index_piecemaker.html">Piecemaker Slider</a></li>
                  <li><a href="index.html">Nivo Slider</a></li>
                  <li><a href="index_slides.html">Anything Slider</a></li>
                  <li><a href="index_image_left.html">Image Left</a></li>
                  <li><a href="index_image_right.html">Image Right</a></li>
                  <li><a href="index_video_left.html">Video Left</a></li>
                  <li><a href="index_video_right.html">Video Right</a></li>
                </ul>
              </li>
              <li><a href="styles.html">Styles</a>
                <ul>
                  <li><a href="styles.html">Template Styles</a></li>
                  <li><a href="styles2.html">More Template Styles</a></li>
                  <li><a href="page.html">Page Template</a></li>
                  <li><a href="#">More Styling Examples</a>
                    <ul>
                      <li><a href="pricing.html">Pricing Tables</a></li>
                      <li><a href="gallery.html">Picture Gallery</a></li>
                      <li><a href="post.html">Post with Comments</a></li>
                      <li><a href="columns.html">Columns</a></li>
                      <li><a href="archive.html">Archive</a></li>
                      <li><a href="forms.html">Forms</a></li>
                    </ul>
                  </li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="fullwidth.html">Full Width Page</a></li>
                  <li><a href="blog_fullwidth.html">Blog (Full Width)</a></li>
                  <li><a href="columns_fullwidth.html">Columns (Full Width)</a></li>
                </ul>
              </li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="portfolio_3c.html">Portfolio</a>
                <ul>
                  <li><a href="portfolio_1c.html">1 Column</a></li>
                  <li><a href="portfolio_2c.html">2 Columns</a></li>
                  <li><a href="portfolio_3c.html">3 Columns</a>
                    <ul>
                      <li><a href="portfolio_1c.html">1 Column</a></li>
                      <li><a href="portfolio_2c.html">2 Columns</a></li>
                      <li><a href="portfolio_3c.html">3 Columns</a></li>
                      <li><a href="portfolio_4c.html">4 Columns</a></li>
                    </ul>
                  </li>
                  <li><a href="portfolio_4c.html">4 Columns</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          
        </div>
        <!-- END .wrapper -->
      </header>
      
      
      
      
      <section id="topbar">
        <div class="deco-top-border"></div>
        <div class="deco-shine"></div>
        <div class="deco-top">
          <div class="deco-bottom">
            <div id="punchline" class="wrapper with-overflow">
              Put a cool and catchy slogan in here to make your newly purchased Template more interesting!
            </div>
          </div>
        </div>
        <div class="deco-bottom-border"></div>
      </section>
      
      
      
      
      <div id="main">
      
        <div class="wrapper with-overflow">
          
          
          
          
          <div id="content" class="two-third">
          
          
          
          
            <article class="entry">
            
              <header class="entry-header">
                <h2>Our Team</h2>
              </header>
              
              <div class="spacer"></div>
              
              <div class="entry-content">
              
              
              
                
                <div class="one-half">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Ruven Pelkanius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Manager</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <div class="one-half last">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Doris Salgadius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar2.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Vice President</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <span class="big spacer"></span>
              
              
              
                
                <div class="one-half">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Doris Salgadius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar2.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Vice President</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <div class="one-half last">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Ruven Pelkanius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Manager</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <span class="big spacer"></span>
              
              
              
                
                <div class="one-half">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Ruven Pelkanius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Manager</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <div class="one-half last">
                  <div class="small content-frame">
                    <header>
                      <h3 class="top">Doris Salgadius</h3>
                      <p class="one-third center">
                        <img src="images/dummy/gravatar2.jpg" class="framed" width="119" height="119" alt="" />
                        <span class="divider"></span>
                        <span class="quiet">Vice President</span>
                      </p>
                    </header>
                    <p class="two-third last">
                      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </p>
                    <span class="divider"></span>
                  </div>
                </div>
                
                
                
                
                <span class="divider"></span>
                
                
                
                
              </div>
              <!-- END .entry-content -->
            </article>
            
            
            
            
            
          </div>
          <!-- END #content -->
        
        

          
        </div>
        <!-- END .wrapper.with-overflow -->
        
      </div>
      <!-- END #main -->
      
      
      
      
      <footer class="main">
        <div class="wrapper with-overflow">
          
          
          
          
          <aside class="widget contact-widget one-fourth">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-content">
              <p class="vcard">
                <span class="fn">Polyon Inc.</span>
                <br/>
                <span class="adr">
                  <span class="street-address">408 Infinite Loop</span>
                  <br/>
                  <span class="locality">Cupertino</span>,
                  <span class="region">CA</span> 
                  <span class="postal-code">85024</span>
                  <br/>
                </span>
                <span class="small spacer"></span>
                Tel: <span class="phone">(408) 996-1010</span><br/>
                Fax: <span class="fax">(408) 996-1020</span>
                <br/>
                eMail: <span class="email"><a href="mailto:hello@example.com">hello@example.com</a></span>
              </p>
            </div>
          </aside>
          
          
          
          
          <aside class="widget list-widget one-fourth">
            <h3 class="widget-title">Recent Posts</h3>
            <div class="widget-content">
              <ul>
                <li><a href="post.html">Aliquam Tincidunt Mauris</a></li>
                <li><a href="post.html">Nunc Dignissim Risus Id Metus</a></li>
                <li><a href="post.html">Vivamus Vestibulum Nulla</a></li>
                <li><a href="post.html">Fusce Pellensque Suscipit Nibh</a></li>
                <li><a href="post.html">Cras Iaculis Ultricies Nulla</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <aside class="widget list-widget one-fourth">
            <h3 class="widget-title">Latest Work</h3>
            <div class="widget-content">
              <ul>
                <li><a href="page.html">Cras Iaculis Ultricies Nulla</a></li>
                <li><a href="page.html">Vivamus Vestibulum Nulla</a></li>
                <li><a href="page.html">Nunc Dignissim Risus Id Metus</a></li>
                <li><a href="page.html">Aliquam Tincidunt Mauris</a></li>
                <li><a href="page.html">Fusce Pellentesque Suscipit</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <aside class="widget social-widget one-fourth last">
            <h3 class="widget-title">Social Widget</h3>
            <div class="widget-content">
              <ul>
                <li class="twitter"><a href="#">Twitter</a></li>
                <li class="facebook"><a href="#">Facebook</a></li>
                <li class="linkedin"><a href="#">LinkedIn</a></li>
                <li class="vimeo"><a href="#">Vimeo</a></li>
                <li class="youtube"><a href="#">YouTube</a></li>
              </ul>
            </div>
          </aside>
          
          
          
          
          <div class="divider"></div>
          
        </div>
        <!-- END .wrapper -->
      </footer>
        
        
        
        
      <section id="footerbar">
        <div class="wrapper with-overflow">
          
          
          
          
          <div class="primary">
            This is an HTML-Template by Ruven Pelka. You can purchase it at <a href="http://themeforest.net/">themeforest.net</a>.
          </div>
          
          
          
          
          <div class="secondary">
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="page.html">About</a></li>
                <li><a href="portfolio_3c.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          
          
          
          
        </div>
      </section>
    
    
    
    
    </div>
    <!-- END #body-container -->
    
    
    
    
  </body>
  
</html>